.about {
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.about h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    animation: slideIn 1s ease-in-out;
}

.about p {
    font-size: 1.1em;
    color: #555;
    animation: slideIn 1.2s ease-in-out;
}
